$primary-color: rgb(245, 169, 52);
$secondary-color: rgb(32, 141, 193);

$accent-primary-color: rgb(253, 206, 50);

$wine-color: rgb(102, 36, 131);
$white-wine-color: rgb(169, 193, 9);

$text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
$box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
$inset-shadow: inset 0px 0px 0px 10px rgba(255, 255, 255, 0.3);

$max-width: 1000px;

$regular: 'Colaborate', sans-serif;
$bold: 'ColaborateBold', sans-serif;
$light: 'ColaborateLight', sans-serif;
